@use "@angular/material" as mat;

// Paleta de colores primarios personalizada
$custom-primary-palette: (
  50: #e3f2fd,
  // Azul muy claro
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  // Color principal
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Paleta de colores de acento personalizada
$custom-accent-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #c020b3,
  500: #e91ece,
  // Color de acento principal
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Paleta de colores de advertencia personalizada
$custom-warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  // Color de advertencia principal
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette, 500, 100, 900);
$custom-accent: mat.define-palette($custom-accent-palette, 500, 100, 900);
$custom-warn: mat.define-palette($custom-warn-palette, 500, 100, 900);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$light-blue-palette, 500),
      accent: mat.define-palette(mat.$light-blue-palette, A700),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);

// Aplicar tema oscuro en la clase .dark-mode
.dark-mode {
  @include mat.all-component-colors($dark-theme);
}
