<div class="register-container">
  <div class="register-card">
    <div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" type="text" required />
          <mat-error *ngIf="registerForm.get('name')?.hasError('required')"
            >El nombre es obligatorio.</mat-error
          >
          <mat-error *ngIf="registerForm.get('name')?.hasError('minlength')"
            >El nombre debe tener al menos 3 caracteres.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
            >El correo es obligatorio.</mat-error
          >
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
            >El correo no es válido.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="isPasswordVisible() ? 'text' : 'password'"
            required
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            @if (isPasswordVisible()) { visibility }@else { visibility_off }
          </mat-icon>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
            >La contraseña es obligatoria.</mat-error
          >
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')"
            >La contraseña debe tener al menos 6 caracteres.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña de confirmación</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="isPasswordVisible() ? 'text' : 'password'"
            required
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            @if (isPasswordVisible()) { visibility }@else { visibility_off }
          </mat-icon>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
            >La contraseña de confirmación es obligatoria.</mat-error
          >
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')"
            >La contraseña de confirmación debe tener al menos 6 caracteres.</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registerForm.invalid"
          class="button-login"
        >
          Iniciar sesión
        </button>
        <app-question-link textOne="Ya estas registrado?" textTwo="Haz click para Loguearte" link="/auth/login"/>
      </form>
    </div>
  </div>
</div>
