<div class="login-container">
  <div class="login-card">
  
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >El correo es obligatorio.</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >El correo no es válido.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'auto'">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="isPasswordVisible() ? 'text' : 'password'"
            required
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            @if (isPasswordVisible()) { visibility }@else { visibility_off }
          </mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >La contraseña es obligatoria.</mat-error
          >
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')"
            >La contraseña debe tener al menos 6 caracteres.</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
          class="button-login"
        >
          Iniciar sesión
        </button>
        <app-question-link textOne="Olvidaste tu contraseña?" textTwo="Haz click para recuperarla" link="/recuperar"/>

      </form>
      <div class="login-registered">
        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="2" viewBox="0 0 84 2" fill="none">
          <path d="M0 1H84" stroke="#D6DDE6" stroke-opacity="0.2" stroke-width="1.5"/>
          </svg>
          <app-question-link textOne="¿Eres nuevo?" textTwo="Crea una cuenta" link="/auth/register"/>

        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="2" viewBox="0 0 84 2" fill="none">
          <path d="M0 1H84" stroke="#D6DDE6" stroke-opacity="0.2" stroke-width="1.5"/>
          </svg>
      </div>
    </div>
  </div>
</div>


