<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >El correo es obligatorio.</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >El correo no es válido.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="'auto'">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="isPasswordVisible() ? 'text' : 'password'"
            required
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            @if (isPasswordVisible()) { visibility }@else { visibility_off }
          </mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >La contraseña es obligatoria.</mat-error
          >
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')"
            >La contraseña debe tener al menos 6 caracteres.</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
          class="button-login"
        >
          Iniciar sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
