.login-container {
  display: flex;
  justify-content: center;

  padding-top: 53px ;
  height: 100vh;
}
.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  .button-login {
    width: 100%;
  }
  mat-form-field {
    width: 100%;

  }

  @media screen and (max-width: 390px) {
    .button-login {
      width: 100%;
    }
    mat-form-field {
      width: 100%;
    }
  }
}

.login-registered {
  margin-top: 2.438rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

